.header{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scores{
    display: flex;
    font-size: 1.1rem;
    gap: 3rem;
}

.header p{
    font-size: 1.1rem;
}

.header button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    padding: 1.5rem 0rem;
    cursor: pointer;
}