

body{
  margin: 0;
  height: 100vh;
  background-image: url("./assets/PokeÃÅmon___Ash_Ketchum,_starting_village_upscaled.jpeg");
  background-size: cover;
  background-position: center;
}

body * {
  font-family: "Press Start 2P",sans-serif;

}
.loading-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}